.directors {
    background-color: $clr_blue2;
    padding-top: 100px;
    position: relative;
    padding-bottom: 90px;
    overflow: hidden;
    text-align: center;

    h1 {
        font-size: rem(32px);
        padding-bottom: 40px;
    }

    .director-container {
        display: grid;
        gap: 10px;
    }

    &::before {
        content: url(../../images/bg-pattern-about-2-contact-1.svg);
        position: absolute;
        top: -100px;
        left: -100px;
    }
    &::after {
        content: url(../../images/bg-pattern-home-4-about-3.svg);
        position: absolute;
        bottom: -5px;
        right: 0;
    }

    @include for-narrow-layout {
        padding-top: 120px;
        .director-container {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
        &::before {
            top: 0;
            left: -100px;
        }
    }
    @include for-normal-layout {
        padding-top: 100px;
        padding-bottom: 120px;
        h1 {
            font-size: rem(48px);
            text-align: center;
            padding-bottom: 50px;
        }
        .director-container {
            gap: 25px;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        }
    }
    @include for-wide-layout {
        .director-container {
            gap: 25px;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }
}
