.team {
    background-color: $clr_blue2;
    padding: 140px 0;
    position: relative;
    h2 {
        font-size: rem(32px);
        text-align: center;
        padding-bottom: 70px;
        justify-self: center;

        span {
            color: $clr_light_blue;
        }
    }
    .the-team {
        gap: 80px;
        flex-direction: column;
        align-items: center;
    }
    &::before {
        content: url(../../images/bg-pattern-home-5.svg);
        position: absolute;
        right: 0;
        bottom: -3px;
    }
    &::after {
        content: url(../../images/bg-pattern-home-4-about-3.svg);
        position: absolute;
        left: 0;
        top: 0;
    }

    @include for-narrow-layout {
        padding: 110px 0;
        h2 {
            max-width: 500px;
        }
    }
    @include for-normal-layout {
        padding: 140px 0;
        h2 {
            font-size: rem(48px);
            max-width: 700px;
        }
        .the-team {
            gap: 25px;
            flex-direction: row;
            align-items: center;
        }
    }
    @include for-wide-layout {
        h2 {
            max-width: 1000px;
        }
    }
}
