// Colors
$clr_pink: #f67e7e;
$clr_white: #ffffff;
$clr_blue: #014e56;
$clr_blue2: #004047;
$clr_dark_blue: #012f34;
$clr_light_blue: #79c8c7;
$clr_light_blue2: #79c7c6;
$clr_dark_footer: #002529;
$clr_menu: #2b6269;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1200px;
